<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <li *ngFor="let item of personaje let i=index">{{i+1}} {{item.nombre+'\t\t'}} - {{item.poder | number}}

            </li>
        </ul>
    </div>
    <div class="col">
        <h3>Agregar <small> {{nuevo.nombre}}</small></h3>
        <hr>
        <form (ngSubmit)="agregar()" >
            <input 
            placeholder="Nombre del Pesonaje" 
            type="text"
            name="nombre"
            [(ngModel)]="nuevo.nombre"
            >
            <!-- [value]="nuevo.nombre" -->
            <!-- (input)="cambiarNombre($event)" -->

            <input 
            placeholder="Poder del Pesonaje" 
            type="number"
            name="poder"
            [(ngModel)]="nuevo.poder">
            
            <button type = "submit">
                Agregar
            </button>
        </form>
    </div>
</div>